name: Deploy Frontend to Netlify

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2
        with:
          publish-dir: './frontend'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NFP_MV4X5DAVBJUEMCPEGOKKEMTANHSEDBJ8E5E2 }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
